body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2227e2, #040101) no-repeat 0 0 / cover;
}

.quiz-container {
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.options-container {
    margin-top: 20px;
}

.next-btn {
    margin-top: 20px;
    cursor: pointer;
}

.score {
    margin-top: 20px;
    font-weight: bold;
}
